// Color Pallete-------------------------------
// Grey
$lightest-grey: #ebebeb;
$lighter-grey: #bababa;
$light-grey: #898989;
$grey: #666;
$medium-grey: #555;
$dark-grey: #444;
$darker-grey: #333;
$darkest-grey: #222;
$darker-darkest-grey: #111;

$color-primary: #ff5840;
$white: #fff;
$black: #000;
// Varible For Margin and Padding----------------
$x-small: 0.5rem;
$small: 2rem;
$medium: 6rem;
$large: 8rem;
$x-large: 12rem;

// ----------
$website-width: 90%;
$website-max-width: 140rem;
