.mainContainer {
  .column {
    &--left {
      .findSection {
        .donor-display-area {
          overflow: scroll;
          -moz-box-shadow: inset 0 0 8px lighten($black, 30);
          -webkit-box-shadow: inset 0 0 8px lighten($black, 30);
          box-shadow: inset 0 0 8px lighten($black, 30);
          padding: 3rem;
        }
      }
    }
  }
}
