.mainContainer {
  padding: 5rem 10rem;
  height: 100vh;
  max-width: $website-max-width;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  @include respond(tab-land) {
    display: block;
  }

  @include respond(tab-land) {
    padding: 2rem;
  }

  .column {
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: column;
    &--left {
      flex: 0 0 55%;
      display: flex;
      justify-content: space-between;
      flex-flow: column;
      .logo {
        flex: 0 0 5%;
      }
      .findSection {
        flex: 0 1 95%;
        height: 95%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        .form {
          flex: 0 1 22%;
          margin-bottom: 0.5rem;
        }
        .donor-display-area {
          flex: 0 1 75%;
        }
      }
    }
    &--right {
      flex: 0 0 35%;
      .navigation {
        width: 100%;
        flex: 0 1 5%;
        margin-bottom: 2rem;
      }
      .registrationSection {
        flex: 0 1 90%;
        display: flex;
        flex-flow: column;
        justify-content: space-between;

        .slogan {
          margin-bottom: 2rem;
        }
        .form {
          .btn {
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

@media screen and( max-width: 75em) {
  .mainContainer {
    .column--right {
      display: block;
      background-color: white;
      position: absolute;
      overflow: hidden;
      height: 100vh;
      width: 100%;
      z-index: 100;
      top: 0;
      right: 0;
      bottom: 0;
      padding: 10rem 5rem;
      transition: 0.4s;
      .navigation {
        margin-bottom: 8rem;
      }
      .registrationSection {
        display: block;
      }
    }
  }
}

.RightSectionHidden {
  position: absolute;
  height: 0 !important;
  // width: 0 !important;
  top: 2rem !important;
  right: 2rem !important;
  padding: 0 !important;
}
